* {
Padding: 0;
Margin: 0;
box-sizing: border-box;
}

body{
background-image: url(../images/top-view-of-fern-leaves-3473569.jpg);
font-size: 100%;
}

.embed-container { 
position: relative; 
padding-bottom: 56.25%; 
height: 0;
overflow: hidden; 
max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
}
/****************** header ***********************/

header{
height: 160px;
margin-bottom: 20px;
padding-top: 5px;
background: white;
width: 100%;
top: 0;
left 0;
position: fixed;
z-index: 5;
}

header .inner{
width: 940px;
background: white;
margin: 0 auto 5px auto;
padding-left: 10px;
padding-right: 10px;
}

h1{
float: right;
text-align: center;
line-height: 100px;
font-family: 'amaticbold';
font-size: 3em;
}

#logo{
height: 100px;
}

/************* main nav bar ***********************/

#primary{
height: 50px;
background: black;
line-height: 50px;
clear: both;
}

#primary ul{
width: 1000px;
margin: 0 auto;
}

#primary li{
list-style-type: none;
width: 20%;
float: left;
text-align: center;
}

#primary a{
text-decoration: none;
display: block;
color: #485359;
font-family: 'nobileregular';
}

#primary a:hover{
background: #111E26;
}


/***************** second nav bar *****************/

aside .inner{
height: 150px;
width: 300px;
background-color: white;
margin: 0 auto;
font-family: 'nobilemedium_italic';
}

#secondary ul{
margin-top: 20px;
}

#secondary li{
line-height: 50px;
height: 50px;
list-style-type: none;
}

#secondary a{
text-decoration: none;
display:block;
padding-left: 20px;
color: #00090D;
}

#secondary a:hover{
background: #485359; 
}


/******************* wrapper ***********************/

#wrapper{
width: 940px;
max-width: 1100px;
margin: 160px auto 0px auto;
}

main{
margin-top: 20px;
width: 580px;
background: #485359;
margin-right: 20px;
margin-bottom: 60px;
padding-bottom: 20px;
float: left;
font-family: 'source_sans_proregular';
}

main .inner{
height: 100px;
width: 100%;
background: #273940;
line-height: 100px;
padding-left: 20px;
}

main p{
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
line-height: 1.4;
}

main a{
color: #011F26;
}

h2{
font-family: 'nobilebold_italic';
}

aside{
width: 340px;
float: right;
overflow: hidden;
margin-top: 20px;
}

.first{
background-image: url(../images/technology-music.jpg);
height: 300px;
}
.second{
border: black solid 2px;
background-image: url(../images/Synths_EL.jpg);
height: 300px;
}
.map{
height: 710px;
}
.innermap{
background-color: #485359;
padding-bottom: 10px;
padding-left: 20px;
}

h3{
font-family: 'nobilebold_italic';
}

.innermap p{
font-family: 'source_sans_proregular';
}


/********************* rows *************************/

.row{
height: 340px;
width: 100%;
/*background: green;*/
margin-bottom: 20px;
clear: both;
padding-top: 40px;
}

.third{
height: 280px;
width: 300px;
background: #485359;
float: left;
border: solid black 1px;
font-family: 'nobilebold_italic';
}

.one{
margin-right: 20px;
}

.two{
margin-right: 20px;
}

.inner2{
text-align: center;
height: 50px;
background: #011F26;
color: #485359;
}

.inner2 p{
color: #011F26;
padding: 20px 20px 20px 20px;
font-size: .9em;
}

.inner2 a{
color: #00090D;
}

h3{
line-height: 50px;
}

/********************* form *************************/

form{
max-width: 100%;
}

fieldset{
/*border: none;*/
width: 460px;
padding-left: 10px;
padding-right: 10px;
margin: 0 auto 0 auto;
border: solid black 1.2px;
}

legend{
margin-bottom: 20px;
font-family: 'nobilemedium';
font-size: 1em;
padding: 0 1.08%;
}

label {
display:block;
margin-bottom: 5px;
font-family: 'source_sans_proregular';
font-weight: 600;
}

form ul{
margin-left: 40px;
margin-bottom: 20px;
margin-top: 10px;
font-family: 'source_sans_proregular';
}

form li{
list-style-type: none;
/*font-family: 'source_sans_proregular';*/

}
input[type="checkbox"]{
width: auto;
height: auto;
margin-right: 5px;
}

textarea{
width: 100%;
resize: none;
height: 150px;
margin-bottom: 10px;
font-size: 1.1em;
}

input[type="submit"]{
width:auto;
margin-bottom: 20px;
}

input[type="text"],input[type="email"]{
width: 90%;
height: 30px;
margin-bottom: 20px;
} 
#studio{
margin-top: 5px;
margin-bottom: 20px;
}
#comments{
margin-bottom: 10px;
}

/********************* footer ***********************/

footer{
height: 100px;
background: white;
clear: both; 
font-family: 'source_sans_proregular';
}

footer .inner{
width: 940px;
margin: 0px auto 0 auto;
background-color: red;
}

footer li{
list-style-type: none;
width: 20%;
float: left;
line-height: 100px;
padding-left: 30px;
margin-left: 40px;
}

#valid{
height: 45px;
}

/***************** blueberry rotating banner css****/

.blueberry{ 
max-width: 960px;
}
/****************************************************/

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amaticbold';
    src: url('../fonts/amatic-bold-webfont.woff2') format('woff2'),
         url('../fonts/amatic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amatic_scregular';
    src: url('../fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('../fonts/amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nobileregular';
    src: url('../fonts/nobile-bold-webfont.woff2') format('woff2'),
         url('../fonts/nobile-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nobilebold_italic';
    src: url('../fonts/nobile-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/nobile-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nobileitalic';
    src: url('../fonts/nobile-italic-webfont.woff2') format('woff2'),
         url('../fonts/nobile-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nobilemedium';
    src: url('../fonts/nobile-medium-webfont.woff2') format('woff2'),
         url('../fonts/nobile-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nobilemedium_italic';
    src: url('../fonts/nobile-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/nobile-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

