* {
Padding: 0;
Margin: 0;
box-sizing: border-box;
}

/****************** header ***********************/

header {
height: 160px;
padding-top: 5px;
background: orange;
width: 100%;
top: 0;
left 0;
position: fixed;
z-index: 5;
}

header .inner {
width: 940px;
background: tan;
margin: 0 auto 5px auto;
padding-left: 10px;
padding-right: 10px;
}

h1 {
float: right;
text-align: center;
line-height: 100px;
}

#logo{
height: 100px;
}

/************* main nav bar ***********************/

#primary {
height: 50px;
background: red;
line-height: 50px;
clear: both;
}

#primary ul {
width: 1000px;
margin: 0 auto;
}

#primary li {
list-style-type: none;
width: 20%;
float: left;
/*padding-left: 40px;*/
text-align: center;
}

#primary a {
text-decoration: none;
display: block;
}

#primary a:hover{
background: pink;
}

/***************** second nav bar *****************/

aside .inner{
height: 150px;
width: 300px;
background-color: white;
margin: 0 auto;
}
#secondary ul{
margin-top: 20px;
}
#secondary li{
line-height: 50px;
height: 50px;
list-style-type: none;

}

#secondary a {
text-decoration: none;
display:block;
padding-left: 20px;
}

#secondary a:hover{
background: pink; 
}


/******************* wrapper ***********************/

#wrapper {
width: 940px;
max-width: 1100px;
margin: 160px auto 0px auto;
}

main {
width: 580px;
background: maroon;
margin-right: 0.02%;
margin-bottom: 20px;
padding-bottom: 20px;
float: left;
}

main .inner{
height: 100px;
width: 100%;
background: tan;
line-height: 100px;
padding-left: 20px;
}

main p{
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
line-height: 1.4;
}

input[type="submit"]{
width:auto;
margin-top: 10px;
margin-left: 20px;
}

aside {
height: 300px;
width: 340px;
float: right;
background-image: url(../images/technology-music.jpg);
overflow: hidden;
}

/********************* footer ***********************/

footer {
height: 100px;
background: orange;
clear: both;
}

footer .inner{
width: 940px;
margin: 0 auto 0 auto;
background-color: red;
}

footer li {
list-style-type: none;
width: 20%;
float: left;
line-height: 100px;
padding-left: 40px;
}

#valid {
height: 35px;
}

/***************** blueberry rotating banner css****/

.blueberry { 
max-width: 960px;
}

